{:paths ["src"
         "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.pinkgorilla/telegram {:local/root ".." :deps/manifest :deps}
        org.pinkgorilla/modular {:mvn/version "0.0.39"}}
 :aliases
 {:demo {:exec-fn modular.system/start!
         :exec-args {:profile "jetty"
                     :config [{:telegram {:name "quantacljbot"
                                          :token "7229339582:AAHqFidgDMquovAOziRzQIWFQMT670m99-8"
                                          ; hook needs to be a https address.
                                          :hook nil ; "http://nuc12.jaguar-altered.ts.net:8081/api/telegram"
                                          }}]
                     :services "services.edn"}}}}