{:paths ["src"
         "resources"]
 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.pinkgorilla/telegram {:local/root ".." :deps/manifest :deps}
        org.pinkgorilla/modular {:mvn/version "0.0.39"}}
 :aliases
 {:demo {:exec-fn modular.system/start!
         :exec-args {:profile "jetty"
                     :config ["config.edn"]
                     :services "services.edn"}}}}